<nav class="navbar bg-dark">
    <h2>Online shop</h2>
    <ul>
        <li routerLinkActive="active">
            <a href="#">Phones</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Tablet</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Laptop</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/cart']"  href="#">Cart</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin']"  href="#">Login</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

